<!DOCTYPE html>
<html>
    <div class = " center jumbotron">
        <head><title>Home</title></head>
        <h1>ALPHA BLOG</h1>
        <%= link_to "Sign up", "#" ,class: "btn btn-danger btn-xlg"  %>
    </div>
</html>